:host {
  display: block;
}
.can {
  position: absolute;
  left: -200px;
}
img {
  height: 10vh;
}
.f1 {
  --f-left: 38%;
  animation: water 3s forwards;
}
.f2 {
  --f-left: 57%;
  animation: water 3s forwards;
}
.f3 {
  --f-left: 77%;
  animation: water 3s forwards;
}
@keyframes water {
  0% {
    left: -100;
  }
  5% {
    left: var(--f-left);
  }
  95% {
    left: var(--f-left);
  }
  100% {
    left: -100;
  }
}
