:host {
  display: block;
}
.bg {
  height: 100vh;
  width: 100vw;
  position: relative;
  /* z-index: -5; */
}
.lost {
  position: absolute;
  top: 15vh;
  left: 40vw;
}
.sowwy {
  height: 50vh;
  z-index: 5;
}
