:host {
  display: block;
}
.clock {
  position: absolute;
  top: 8%;
  left: 77%;
  font-size: 2vw;
}
.hurry {
  color: red;
  animation: blinker 0.9s linear infinite;
}
@keyframes blinker {
  90% {
    opacity: 0;
  }
}
